html, body {
  display:  block;
  align-items: left;
  justify-content: left;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Castoro', serif;
}

.name {
  font-family: 'Castoro', serif;
  margin-bottom: 2px;
}

.wrapper {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  height: 80%;
}

.left {
  background-color: lightgreen;
  margin: 5px;
  max-width: 40%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.right {
  background-color: white;
  margin: 20px;
  max-width: 60%;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* -------------------------- */

.social-links {
  list-style: none;
  padding-left: 0px;
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.social-links li {
  display: block;
  margin-right: 4px;
}

.social-links a {
  text-decoration: none;
  padding: 4px;
  display: block;
  text-align: left;

}

.social-links li a
{
    position: relative;
}

.social-links li a:hover{
  text-decoration: underline;
}
/* -------------------------- */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.res, .pubs, .cv {
  float: right;
}

.menu a{
  display: block;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a
{
    position: relative;
}

.menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.menu li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
/* -------------------------- */
